.content {
	width: 100%;
	position: relative;
}
.contentImage img {
	max-width: 100%;
}
.post{
	margin-bottom: 30px;
}
.postAuthorImage{
	background-color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 25px	;
	margin-bottom: 10px;
}