.wrap {
	display: grid;
	grid-template: minmax(100px, auto) 1fr/ 1fr;
	grid-template-areas: "header" "main";
	width: 1200px;
	margin: 0 auto;
}
.header {
	background-color: #adea9e;
	grid-area: header;
	display: flex;
	align-items: center;
}
.logo img {
	width: 75px;
	height: 70px;
}
.main {
	grid-area: main;
	display: grid;
	grid-template: 1fr / minmax(auto, 30%) minmax(auto, 70%);
	justify-content: start;
}
.menu {
	width: 100%;
}
.content {
	width: 100%;
	position: relative;
}
.content__image img {
	max-width: 100%;
}
