.wrap {
	display: grid;
	grid-template: minmax(100px, auto) 1fr/ 1fr;
	grid-template-areas: "header" "main";
	width: 1200px;
	margin: 0 auto;
}

.main {
	grid-area: main;
	display: grid;
	grid-template: 1fr / minmax(auto, 30%) minmax(auto, 70%);
	justify-content: start;
}
